<mat-toolbar class="toolbar">
   <mat-icon class="icon primary-color" (click)="sidenavToggle()">menu</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
   <mat-sidenav
      mode="side" 
      class="sidenav" 
      opened="true"
      [style.width]="isClosed ? '58px' : '133px'"
   >
      <mat-list role="list">
         <!-- Home -->
         <mat-list-item
            routerLink="/" 
            role="listitem"
            [ngClass]="{
               'current-page': activatedRoute === '/',
               'list-item': true,
               'primary-color': true
            }"
         >
            <mat-icon class="icon">home</mat-icon>
            <span class="icon-text">Home</span>
         </mat-list-item>
         <!-- Account -->
         <mat-list-item
            routerLink="/account"
            role="listitem" 
            [ngClass]="{
               'current-page': activatedRoute === '/account',
               'list-item': true,
               'primary-color': true
            }"
         >
            <mat-icon class="icon">account_box</mat-icon>
            <span class="icon-text">Account</span>
         </mat-list-item>
         <!-- Settings -->
         <mat-list-item
            routerLink="/settings" 
            role="listitem" 
            [ngClass]="{
               'current-page': activatedRoute === '/settings',
               'list-item': true,
               'primary-color': true
            }"
         >
            <mat-icon class="icon">settings</mat-icon>
            <span class="icon-text">Settings</span>
         </mat-list-item>
      </mat-list>
   </mat-sidenav>
   <mat-sidenav-content 
      class="sidenav-content"
      [style.marginLeft]="isClosed ? '58px' : '133px'"
   >
      <div class="primary-color">
         <router-outlet></router-outlet>
      </div>
   </mat-sidenav-content>
</mat-sidenav-container>